.block{
    background-color: red;
    height: 100px;
}

.inline{
          
    background-color: yellow;
}

.inline a {
    background-color: green;
    opacity: 10;
}

.wpisy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wpis {
    border: 1px solid #000;
    background-color: #e4e4e4;
    width: 100%;
}

.floated{
    background-color: red;
}
